@media screen and (max-width:800px){
    .text-header h1{
        font-size: 50px;
    }
    
    .text-header h2{
        font-size: 20px;
    }
    #wave{
        height: initial;
        margin-bottom: -15px;
    }

    .container-about-us{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image-about-us{
        width: 95%;
        margin-bottom: 30px;
    }
    
    .about-us .content-text{
        width: 95%;
    }

    .gallery-market{
        width: 45%;
    }

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 65%;
    }

    .service-all{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service{
        width: 70%;
    }

    .service:nth-child(1), .service.service:nth-child(2){
        margin-bottom: 50px;
    }
    
}

@media screen and (max-width:500px){
    nav{
        text-align: center;    
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 15px;
    }

    .text-header h1{
        font-size: 30px;
    }
    
    .text-header h2{
        font-size: 18px;
    }

    .gallery-market{
        width: 95%;
    }

    .cards .card{
        width: 95%;
    }

    .container-footer{
        flex-direction: column;
    }

    .content-footer h4{
        border:none;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .content-footer p{
        margin-bottom: 25px;
    }

    .final-title{
        font-size: 15px;
    }
}